#gameField td td {width: 80px; height: 80px; background-color: antiquewhite;
text-align: center; font-size: 32px; color: brown;}
#crestField td, #crestFieldMirr td {width: 80px; height: 80px; background-color: antiquewhite;
text-align: center; font-size: 32px; color: brown;}
td.empty {background-color: blueviolet !important;}
body {background-image: url("bgSq.png");}